[Unit]
Description=OpenStack Designate Pool Manager service
After=syslog.target network.target

[Service]
Type=simple
User=designate
ExecStart=/usr/bin/designate-pool-manager --config-file /etc/designate/designate.conf --log-file /var/log/designate/pool-manager.log
PrivateTmp=true
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
