[Unit]
Description=OpenStack Designate agent
After=syslog.target network.target

[Service]
Type=simple
User=designate
ExecStart=/usr/bin/designate-agent --config-file /usr/share/designate/designate-dist.conf --config-file /etc/designate/designate.conf --log-file /var/log/designate/agent.log
PrivateTmp=true
KillMode=process

[Install]
WantedBy=multi-user.target
